<footer class="container-fluid text-center navbar-fixed-bottom">
  <small>
    The <a href="http://www.railstutorial.org/">Where Is My Phone</a>
    by <a href="http://www.michaelhartl.com/">Ander Mancisidor</a> and <a href="http://www.michaelhartl.com/">Urtzi Otamendi</a>
  </small>
</footer>